[submodule "ILSpy"]
	path = ILSpy
	url = https://github.com/icsharpcode/ILSpy.git
[submodule "StdLibs/corlib"]
	path = StdLibs/corlib
	url = https://github.com/zebraxxl/coreclr.git
	branch = CIL2Java
